@keyframes routeIn {
    0% {
        transform: translate(800px, -800px);
    }

    100% {
        transform: translate(0, 0);
    }
}

@-moz-keyframes routeIn {
    0% {
        transform: translate(800px, -800px);
    }

    100% {
        transform: translate(0, 0);
    }
}

@-webkit-keyframes routeIn {
    0% {
        transform: translate(800px, -800px);
    }

    100% {
        transform: translate(0, 0);
    }
}
.banner {
    width: 100%;
    height: 300px;
    background: url('../img/original.jpg') center top no-repeat;
}

.banner .inner {
    height: 254px;
    padding-top: 46px;
    text-align: right;
    animation: routeIn 1s;
}

.banner .inner h2 {
    font-size: 34px;
    margin-bottom: 15px;
    color: white;
}

.banner .inner .label {
    margin-bottom: 22px;
}

.banner .inner .label span {
    display: inline-block;
    padding: 10px;
    background-color: rgba(255, 255, 255, .3);
    margin-right: 14px;
    border-radius: 2px;
    color: white;
}

.banner .inner .time {
    color: white;
    font-size: 18px;
    margin-bottom: 20px;
}

.banner .inner .btn {
    display: inline-block;
    width: 240px;
    height: 46px;
    text-align: center;
    line-height: 46px;
    color: white;
    font-size: 24px;
    background-color: tomato;
}

.main {
    height: 2504px;
}

.main .hot{
    width: 100%;
    height: 380px;
}

.main .hot .inner{
    height: 380px;
    margin: 0 auto;
}
.main  .inner h2.title{
    height: 70px;
    line-height: 70px;
    font-size: 24px;
}
.main .hot .inner .slider-box{
    width: 1002px;
    height: 288px;
    position: relative;
}
.main .hot .inner .slider-box .prev,.next{
    width: 37px;
    height: 78px;
    display: block;
    top: 120px;
    position: absolute;
}
.main .hot .inner .slider-box .prev{
    background-image: url('../img/prev.png');
    left: -60px;
   
}

.main .hot .inner .slider-box .next{
    background-image: url('../img/next.png');
    right:-60px;
   
}

.main .hot .inner .slider-box .slide{
    width: 1002px;
    height: 288px;
    overflow: hidden;
}

.main .hot .inner .slider-box .slide ul{
    width: 3006px;
    height: 288px;
    position: relative;
}

.main .hot .inner .slider-box .slide ul li{
    width: 1002px;
    height: 288px;
    float: left;
}

.main .report{
    width: 100%;
    height: 590px;
    background-color: #ddd;

}

.main .report .inner{
    height: 590px;
    margin: 0 auto;  
    position: relative;
}

.main .inner .more{
    position: absolute;
    top: 28px;
    right: 0;
    color: red;
    padding-right: 17px;
    background: url('../img/readMore.png') no-repeat right center;
    
}

.main .guide{
    height: 380px;

}

.main .guide .inner{
    margin:  0 auto;
    height: 380px;
    position: relative;
}